/*===================================
=            SOME RESETS            =
====================================*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  vertical-align: middle;
}

img {
  max-width: 100%;
}

/*=====  End of SOME RESETS  ======*/

/*=================================
=            VARIABLES            =
==================================*/

:root {
  --black: hsl(212, 21%, 14%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(228, 12%, 48%);
  --accent: hsl(158, 36%, 37%);
  --button-hover: hsl(156, 42%, 18%);
  --background: hsl(30, 38%, 92%);
  --radius: 0.875rem;
}

/*=====  End of VARIABLES  ======*/

/*===============================
=            PROJECT            =
================================*/

::selection {
  background-color: var(--accent);
  color: var(--white);
}

html,
body,
main,
section {
  height: 100%;
}

body {
  font: 400 0.875rem / 1.5 "Montserrat", sans-serif;
  color: var(--grey);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}

main {
  padding: 2rem 0;
  display: grid;
  place-content: center;
}

section {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  border-radius: var(--radius);
  width: min(39rem, 100% - 2rem);
  box-shadow: 0 0 0.5rem hsla(212, 21%, 14%, 0.05);
}

img {
  border-radius: var(--radius) 0 0 var(--radius);
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

div {
  border-radius: 0 var(--radius) var(--radius) 0;
  padding: 2rem;
  background-color: var(--white);
}

h4 {
  font-size: 0.75rem;
  letter-spacing: 0.4em;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: var(--black);
  line-height: 1.1;
  margin-block: clamp(1rem, 0.6307rem + 0.5089vw, 2rem)
    clamp(1.5rem, 0.6307rem + 0.5089vw, 2rem);
}

p {
  font-size: clamp(0.75rem, 0.6307rem + 0.5089vw, 0.875rem);
}

output {
  display: flex;
  align-items: center;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: var(--accent);
  line-height: 1.1;
  margin-block: 2rem;
}

output::after {
  content: attr(data-original-price);
  color: var(--grey);
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  text-align: center;
  padding-inline: 1.5rem;
  filter: greyscale(0);
  text-decoration: line-through;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: 0.875rem;
  border: 0;
  background: var(--accent);
  color: var(--white);
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.875em;
  width: 100%;
  border-radius: calc(var(--radius) / 1.5);
  padding: 1rem;
  transition: background-color 0.4s ease;
}

button:hover {
  background: var(--button-hover);
}

svg {
  width: 1em;
  fill: currentColor;
}

/*=====  End of PROJECT  ======*/

/*=====================================
=            MOBILE STYLES            =
=======================================*/

@media screen and (max-width: 551px) {
  img {
    border-radius: var(--radius) var(--radius) 0 0;
  }

  div {
    border-radius: 0 0 var(--radius) var(--radius);
  }

  output {
    margin-block: 3rem 2rem;
  }
}

/*=====  End of MOBILE STYLES  ======*/
